* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Girassol", cursive;
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 62.5%;
}
body {
  background: #5cdb95;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section h1 {
  text-shadow: 0.3rem 0.1rem 0.01rem #2f3542;
  word-spacing: 0.9rem;
  margin-bottom: 5rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #edf5e1;
}
.centerDiv {
  width: 35rem;
  height: 55vh;
  box-shadow: 0.2px 0.2px 2px 2px #2f3542;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #379683;
  color: #edf5e1;
}

.details {
  text-align: center;
  text-transform: uppercase;
}

.details label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.details input {
  padding: 1.1rem;
  background-color: #ff6b81;
  color: white;
  text-align: center;
}
.details input[type="text"]:focus {
  border: 3px solid #555;
}

.imgdiv {
  margin: 2rem 3rem;
}

#gridcontainer {
  padding: 20px;
}
.grid-row > div {
  border: 1px solid lightgrey;
  padding: 10px;
  background-color: aliceblue;
  margin: 5px 0;
}

button {
  background: #05386b;
  width: 18rem;
  padding: 4px 0;
  border-radius: 3px;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  background-color: darken(#f1c40f, 20%);
}
button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    font-size: 10%;
  }

  section h1 {
    text-shadow: 0.1rem 0.1rem 0.01rem #2f3542;
    word-spacing: 0.5rem;
    margin-bottom: 3.5rem;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #edf5e1;
  }
}
